{% extends "layout.html" %}
{% block content %}

<br>

<!-- START HERO SECTION -->
<section class="hero">
    <div class="hero-text">
        <h3>Open-source project discovery catered towards new contributors.</h3>
        <div class="hero-img">
            <img src="static/images/pigeonhole_icon.png" alt="Pigeonhole icon">
        </div>
        <p class="hero-paragraph">Search and explore open-source projects from GitHub with per-repository aggregated
            metrics and analysis on
            the project's health, activity, popularity, new contributor friendliness, and more.</p>
    </div>
</section>
<!-- END HERO SECTION -->

<br><br>

<!-- START PROJECT SEARCH SECTION -->
<section class="project-search">
        <div class="project-search-text">
            <form id="search-form">
                <input type="text" id="search-input" placeholder="Search projects...">
                <button type="submit">Search</button>
            </form>
        </div>
    </section>
<!-- END PROJECT SEARCH SECTION -->

<!-- START PROJECTS SECTION -->
{% if projects %}
<section class="projects">
    <div id="project-container" class="project-container">
    </div>
</section>

{% endif %}

<!-- START PROJECTS SECTION -->


{% endblock %}