<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% extends "layout.html" %}

    {% block content %}
    <h1>Index</h1>

    {% if projects %}
    <ul>
        <div class="project_container">
            {% for repo_url, repo_dict in projects.items() %}
            <li><a href="{{ repo_url }}">{{ repo_dict['name'] }}</a></li>
        </div>
        {% endfor %}
    </ul>
    {% endif %}

    {% endblock %}
</body>

</html>