<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pigeonhole.dev</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <!-- link static/js/main.js -->
    <script type="module" src="/static/js/nav.js"></script>
    <script type="module" src="/static/js/search.js"></script>
    <script type="module" src="/static/js/createProjectCard.js"></script>
    <script type="module" src="/static/js/utils.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon/apple-touch-icon.png') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon/site.webmanifest') }}">

</head>

<body>

    <!-- START Nav -->
    <nav class="nav">
        <div class="nav-logo">
            <a href="http://127.0.0.1:5000/"><img src="static/images/pigeonhole.png" alt="Pigeonhole.dev Logo"></a>
            <!-- <a href="http://127.0.0.1:5000/"><img src="static/images/pigeonhole_blue.png" alt="Pigeonhole.dev Logo"></a> -->
        </div>
        <ul>
            <li><a href="https://github.com/peter-w-bryant/Pigeonhole.dev" target="_blank"><i class="fab fa-github"></i></a></li>
            <li class="contributing-nav"><a href="https://github.com/peter-w-bryant/Pigeonhole.dev/blob/main/CONTRIBUTING.md">CONTRIBUTING.md</a></li>
            <li><a href="https://www.buymeacoffee.com/pwbryant" target="_blank"><img id="buymeacoffee-img" src="static/images/bmc-button.png" alt="Buy Me A Coffee"></a></li>
        </ul>
    </nav>
    <!-- END Nav -->


    <!-- Start Content -->
    {% block content %}{% endblock %}
    <!-- End Content -->

    <button id="back-to-top-button"></button>

    <!-- Start Footer -->
    <footer class="footer">
        <p>&copy; 2023 <span style="font-weight:bold;">Pigeonhole.dev</span></p>
    </footer>
    <!-- End Footer -->

</body>

</html>