<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- START Nav -->
    <nav class="nav">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/contact">Contact Us</a></li>
        </ul>
    </nav>
    <!-- END Nav -->

    <!-- Start Content -->
    {% block content %}{% endblock %}
    <!-- End Content -->

    <!-- Start Footer -->
    <footer class="footer">
        <p>&copy; 2023 Pigeonhole.dev</p>
    </footer>
    <!-- End Footer -->

</body>
</html>