/* Remove padding and margin from the body element */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Create a flex container to fill the remaining space */
body {
    display: flex;
    flex-direction: column;
    background-color: #6C684F;
    font-family: 'Roboto', sans-serif;
}

/* Style the main content area */
.content {
    flex: 1;
    /* Allow the content to grow and fill remaining space */
    /* Add your content-specific styles here */
}

/* START NAV */
/* Reset default list styles */
.nav {
    margin: 0;
    padding: 5px 10px;
    /* Adjust the padding for a smaller height */
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 35px;
}

.nav ul {
    align-items: center;
    display: flex;
}

/* Style the list items (navigation links) */
.nav li {
    display: inline;
    margin: 0 10px;
    /* Reduce the spacing between the navigation items */
}

/* Style the links */
.nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    transition: color 0.3s;
    /* Adjust the font size for the links */
}

/* Style the logo image */
.nav-logo img {
    padding: 0;
    margin: 0;
    height: 25px;
    width: auto;
    padding-top: 5px;
}

/* Style link hover effect */
.nav a:hover {
    color: #6C684F;
}

/* Style the GitHub icon */
.nav .fa-github {
    font-size: 24px;
    /* Adjust the size of the GitHub icon */
}

/* END NAV */

/* START FOOTER */
/* Style the footer */
.footer {
    /* position: fixed; */
    bottom: 0;
    width: 100%;
    height: 12px;
    background-color: #333;
    /* Background color for the footer */
    color: #fff;
    /* Text color for the footer content */
    text-align: center;
    /* Center-align the text within the footer */
    padding-top: 8px;
    padding-bottom: 20px;
    /* Add padding to the top and bottom of the footer */
}

/* Style the copyright text */
.footer p {
    margin: 0;
    /* Remove default margin for the paragraph */
    font-size: 14px;
    /* Font size for the copyright text */
}

/* END FOOTER */

/* START Buy me a coffee */
#buymeacoffee-img {
    max-width: 100px;
    /* Adjust the maximum width to control the button size */
    margin: 0;
    padding: 0;
    /* Remove any margin from the image */
}

/* END Buy me a coffee */

.hero {
    background-color: #FEFBEA;
    /* Set the background color of the section to white */
    width: 70%;
    /* Limit the section to 90% of the width */
    margin: 0 auto;
    /* Center the section horizontally */
    padding: 20px 0 20px 0;
    /* Add padding to the top and bottom of the section, and no left and right padding */
    border: 1px solid #ccc;
    /* Add a border around the white box */
    border-radius: 10px;
    /* Round the corners of the box */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Add a subtle shadow for depth */
}

.hero-text {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
    padding: 0px 50px 0px 50px;
    /* Top, Right, Bottom, Left */
    color: #333;
    /* Set the text color to a readable shade of grey */
}

.hero-text h3 {
    /* font-size: 1.5em; */
    text-align: center;
    /* Increase the font size of the heading */
    margin: 0;
    /* Remove the default margin for the heading */
}

/* Style the hero-img container */
.hero-img {
    display: flex;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    padding: 20px 0;
    /* Add 20px of padding on top and bottom */
}

/* Style the image inside the container */
.hero-img img {
    max-width: 100px;
    /* Adjust the maximum width of the image to make it smaller */
    max-height: 100px;
    /* Adjust the maximum height of the image */
}

.hero-paragraph {
    margin: 0;
    text-align: center;
    /* Remove default margin to eliminate space above and below the paragraph */
}


.project-search {
    background-color: #FEFBEA;
    /* Set the background color of the section to white */
    width: 90%;
    /* Limit the section to 90% of the width */
    margin: 0 auto;
    /* Center the section horizontally */
    padding: 10px 0 10px 0;
    /* Add padding to the top and bottom of the section, and no left and right padding */
    border: 1px solid #ccc;
    /* Add a border around the white box */
    border-radius: 10px;
    /* Round the corners of the box */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Add a subtle shadow for depth */
}

/* Style for the datalist options */
.project-name-option {
    font-size: 18px;
    /* Increase the text size */
    background-color: #f0f0f0;
    /* Background color */
    color: #333;
    /* Text color */
    padding: 10px;
    /* Padding to space out the options */
    border: 1px solid #ccc;
    /* Border */
    border-radius: 5px;
    /* Rounded corners */
    cursor: pointer;
    /* Show a pointer cursor on hover */
    transition: background-color 0.3s, color 0.3s;
    /* Smooth color transition */
}

/* Style for the datalist options on hover */
.project-name-option:hover {
    background-color: #337ab7;
    /* Background color on hover */
    color: #fff;
    /* Text color on hover */
}


.project-search-text {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
    padding: 0px 50px 0px 50px;
    /* Top, Right, Bottom, Left */
    color: #333;
    /* Set the text color to a readable shade of grey */
}

.project-search-text h3 {
    /* font-size: 1.5em; */
    text-align: center;
    /* Increase the font size of the heading */
    margin: 0;
    /* Remove the default margin for the heading */
}

.project-search-paragraph {
    margin: 0;
    text-align: center;
    /* Remove default margin to eliminate space above and below the paragraph */
}

.projects {
    padding-bottom: 50px;
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-square {
    position: relative;
    width: 29%;
    background-color: #FEFBEA;
    border: 1px solid #ccc;
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.project-top {
    display: flex;
}

.project-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.github-icon {
    font-size: 30px;
    /* Adjust the icon size as needed */
    color: #000;
    /* Set the default color */

    /* Add a hover effect */
    transition: color 0.3s;
    /* Smooth color transition */
    /* Make the icon on the right of the box */
    position: absolute;
    top: 10px;
    right: 10px;
}

.github-icon:hover {
    color: #007bff;
    /* Change the color on hover to blue (#007bff) or your desired color */
}

.project-top {
    display: flex;
    align-items: center;
}

.project-name {
    color: #000;
    font-weight: bold;
    text-decoration: none;
    margin: 0;
    font-size: 22px;
    transition: border-bottom 0.3s;
}

/* add blue line under project name on hover */
.project-name:hover {
    border-bottom: 2px solid #000;
}

.username-container {
    display: inline;
}

.project-username {
    margin: 0;
    text-decoration: none;
    color: #007bff;
    font-size: 14px;
    font-weight: bold;
    /* padding-right: 4px; */
    transition: border-bottom 0.3s;
}

.project-username:hover {
    border-bottom: 2px solid #007bff;
}


.project-icons {
    padding-top: 5px;
    display: flex;
    align-items: center;
    color: lightslategray;
    font-size: 12px;
}

.project-icon {
    margin-right: 5px;
}

.project-label {
    text-decoration: none;
    flex: left;
    display: inline;
}

.project-contributing-text {
    text-decoration: none;
    background-color: #333;
    color: #fff;
    margin-left: 5px;
    padding: 3px 5px;
    font-size: 10px;
    font-weight: bold;
    border-radius: 15px;
    /* Add rounded corners */
    transition: background-color 0.3s ease-in-out;
    display: inline;
}

.contributing-icon {
    font-size: 12px;
    margin-left: 3px;
}

.project-contributing-text:hover {
    background-color: lightslategray;
}

.topic-container {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.project-topic-title {
    margin: 0;
    padding-bottom: 3px;
    font-size: 12px;
    color: lightslategray;
    font-weight: bold;
}

.project-topic-text {
    text-decoration: none;
    background-color: #007bff;
    color: #fff;
    padding: 4px 6px;
    font-size: 11px;
    font-weight: bold;
    border-radius: 15px;
    display: inline;
    margin: 2px 6px 2px 0;
    transition: background-color 0.3s ease-in-out;
}

.project-topic-text:hover {
    background-color: lightslategray;
}

.issue-container {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.project-issue-title {
    margin: 0;
    padding-bottom: 3px;
    font-size: 12px;
    color: lightslategray;
    font-weight: bold;
}

.project-issue-text {
    text-decoration: none;
    background-color: #333;
    color: #fff;
    padding: 4px 6px;
    font-size: 11px;
    font-weight: bold;
    border-radius: 15px;
    display: inline;
    margin: 2px 6px 2px 0;
    transition: background-color 0.3s ease-in-out;
}

.project-issue-text:hover {
    background-color: lightslategray;
    /* Change the background color on hover to blue (#007bff) or your desired color */
}

.last-commit-title {
    margin: 0;
    padding-bottom: 3px;
    font-size: 12px;
    color: lightslategray;
    font-weight: bold;
}

.last-commit-text {
    text-decoration: none;
    background-color: #6C684F;
    color: #fff;
    padding: 4px 6px;
    font-size: 11px;
    font-weight: bold;
    border-radius: 15px;
    display: inline;
    margin: 2px 6px 2px 0;
    transition: background-color 0.3s ease-in-out;
}

.last-commit-text:hover {
    background-color: lightslategray;
}

.card-section-container {
    padding-top: 5px;
}

.section-divider {
    border: 1px solid #ccc;
    /* Set border properties */
    margin: 10px 0;
    /* Adjust margin for spacing */
}

.pigeonhole-analysis-container {
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pigeonhole-analysis-title {
    font-size: 16px;
    margin: 0;
    /* Reduce the bottom margin to reduce the space */
}

.analysis-item {
    display: flex;
    justify-content: center;
    padding: 0;
    align-items: center;
    margin: 0;
    font-size: 14px;
}

.analysis-icon {
    font-size: 16px;
    margin-right: 10px;
    color: #007bff;
}

.score-badge {
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
    margin: 0;
    padding: 4px 8px;
    border-radius: 15px;
    font-size: 12px;
}

.card-bottom {
    margin-top: auto;
    /* Push the card-bottom to the bottom */
    padding: 10px;
    /* Adjust padding as needed */
    /* box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.2);  */
}

/* Style the tooltips */
.project-icons [title]:hover::after {
    content: attr(title);
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 3px;
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.2s;
}

.project-icons [title]:hover::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 5px 5px 5px;
    border-color: transparent transparent #333 transparent;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.project-icons [title]:hover {
    position: relative;
}

/* Show the tooltip on hover */
.project-icons [title]:hover::after {
    opacity: 1;
}

#back-to-top-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    width: 50px;
    height: 50px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1;
}

#back-to-top-button::before {
    content: '^';
    font-size: 30px;
    display: block;
    position: relative;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#back-to-top-button:hover {
    background-color: #0056b3;
}

/* Start search filters */
/* Resetting some default margins and paddings for a clean slate */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Main search container */
.project-search {
    display: flex;
    align-items: flex-start;
    gap: 20px; /* space between elements */
    padding: 20px; /* Padding around the entire section for spacing */
}

/* Search input styles */
.search-input {
    padding: 10px;
    margin-right: 10px; /* Spacing between search input and select containers */
    width: 300px; /* You can adjust this based on your needs */
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Style the custom selects and the search inputs to be similar in size */
.custom-select, .search-select-container {
    display: flex;
    flex-direction: column;
    gap: 5px; /* space between elements */
}

/* Style the multi-selects */
.search-select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    overflow-y: auto; /* In case of many options, it will be scrollable */
    font-size: 16px;
}

/* Improve selection style for selected options */
.search-select option:checked {
    background-color: #e0e0e0; /* Highlight for selected options */
}

/* Selected options list styling */
.selected-options-container h3 {
    margin-bottom: 10px;
    font-size: 18px;
}

.selected-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.selected-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f2f2f2;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

/* Style the header with the clear button */
.header-with-clear {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.selected-list .remove-item-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.selected-list .remove-item-button::after {
    content: '×'; /* Unicode multiplication sign as close icon */
    color: #ff6666;
    font-size: 14px;
    padding-left: 10px;
}

/* Start project search form styling */
.project-search {
    display: flex;
    align-items: center; /* Align vertically */
    justify-content: space-between; /* Distribute space */
    padding: 10px; /* Add some padding */
}

.search-form {
    display: flex;
    width: 100%;
    gap: 10px; /* Spacing between children */
}

.search-input {
    flex: 1; /* Allow the search input to grow */
}

.custom-select {
    display: flex;
    flex-direction: column;
    min-width: 150px; /* Minimum width */
}

.search-select {
    height: auto;
    max-height: 130px; /* Set max height */
    overflow-y: auto; /* Add scroll for overflow */
}

.header-with-clear {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Space between title and button */
    margin-bottom: 5px; /* Spacing for consistency */
}

.clear-button {
    padding: 5px 10px;
    cursor: pointer; /* Pointer on hover */
    background-color: #f5f5f5; /* Light background for the button */
    border: 1px solid #ddd; /* Border to distinguish the button */
    border-radius: 4px; /* Rounded corners */
}

.selected-list {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #f9f9f9; /* Slightly different background */
    border: 1px solid #ddd; /* Border to distinguish the list */
    border-radius: 4px; /* Rounded corners */
    overflow-y: auto; /* Scroll for overflow */
    max-height: 100px; /* Maximum height before scrolling */
}
/* End project search form styling */
